.iml
.DS_Store
proj.win32/Debug.win32/*
proj.win32/Release.win32/*
*.swp
build/*
build.output
pkg/*
proj.android/bin/*
proj.android/obj/local/*
proj.android/assets/*
proj.android/gen/*
proj.android/libs/armeabi/*
proj.ios/ua-x.xcodeproj/xcuserdata/*
proj.ios/ua-x.xcodeproj/project.xcworkspace/xcuserdata/*
proj.win32/ua-x.sdf
proj.win32/ua-x.v11.suo
proj.win32/ua-x.opensdf